<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <script src="https://unpkg.com/mustache@latest"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/37c0238546.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>

<body>

    <div id="insert-player-name-overlay"></div>
    <div id="insert-player-name-container">
        <p>Share Game:  <code id="share-id"></code>  <button class="clear-btn" id="copy-game-link-btn"><i class="fas fa-copy"></i></button></p>
        <hr/>
        <p>Enter your name</p>
        <input autocomplete="off" id="player-name-input" name="georgguessr-player-name" type="text" placeholder="player name" />
        <br/>
        <button id="start-game-button" class="clickable clear-btn btn-disabled" disabled>START</button>
    </div>

    <div id="stop-popup" style="display:none">
        <div id="result-map"></div>
        <div id="results-refresh-div"><button class="clickable clearn-btn" id="refresh-results-btn"><i class="fas fa-sync"></i></button></div>
        <table id="result-table">
        </table>
        <button id="result-btn" class="clickable clear-btn">NEXT ROUND</button>
    </div>
    <div id="stop-overlay" style="display:none"></div>
    <div id="game-stats">
        <div id="round-no" class="game-stats-content game-stats-content-l">Round 1/10</div>
        <div id="timer" class="game-stats-content game-stats-content-l">Time:</div>
        <div class="game-stats-content game-stats-content-s"><button class="clickable clear-btn full-size" id="game-info-btn"><i class="fas fa-info-circle fa-lg"></i></button></div>
        <div class="game-stats-content game-stats-content-s"><button class="clickable clear-btn full-size" id="users-info-btn"><i class="fas fa-users fa-lg"></i></button></div>
    </div>
    <div id="pano"></div>
    <div id="guess-map-container" class="resizable">
    <div id="guess-map"></div>
    </div>
    <div id="game-controls">
        <div id="to-start-btn-container"><button class="clickable clear-btn full-size" id="to-start-btn"><i class="fas fa-backward fa-lg"></i></button></div>
        <div id="guess-btn-container"><button disabled class="clickable clear-btn full-size btn-disabled" id="guess-btn"><i class="fas fa-check-circle fa-lg"></i> GUESS</button></div>

    </div>
    <data id="API_ENDPOINT" value="<%= API_EP %>"></data>
    <data id="API_KEY" value="<%= API_KEY %>"></data>
    <data id="BUILD_VERSION" value="<%= BUILD_VERSION %>"></data>

    <script id="ResultsTableRows" type="x-tmpl-mustache">
        {{#results}}
        <tr>
            <td><img src="{{icon}}" class="mini-pin"/></td>
            <td>{{name}}</td>
            <td>{{distance_text}}</td>
            <td></td>
        </tr>
        {{/results}}

</script>

    <script>
        window.onload = function(e) {
            window.showGame();
        };
    </script>
<input type="text" style="position:absolute; top: -1000px; left:-1000px;" id="share-link"/>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_KEY %>&callback=window.initGameMaps&libraries=drawing,places,geometry"
            defer></script>
</body>
</html>