.aws-sam
.aws
node_modules
package-lock.json
.idea
.DS_Store
statics/*
config.json
samconfig.toml
src/backend/pkg/countries.json
src/frontend/node_modules
dist
src/backend/layer/layer.zip
src/backend/lambda/room/res/index.html