<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/37c0238546.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>

</head>

<body id="home-body">
<div id="page-home">
    <div class="center">
        <button id="create-room-btn">Create Room</button>
        <button id="enter-room-btn">Enter Room</button>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-2">
    <div class="modal__overlay" data-micromodal-close>
        <div class="modal__container">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-2-title">
                    Enter Room
                </h2>
            </header>
            <main class="modal__content" id="modal-2-content">
                <input id="enter-room-id" required type="text"/>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary" id="enter-btn">Enter</button>
                <button aria-label="Close this dialog window" class="modal__btn" data-micromodal-close>Close</button>
            </footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="loading-modal">
    <div class="modal__overlay">
        <div class="modal__container">
            <header class="modal__header">
                <h2 class="modal__title" id="loading-modal-title">
                    Creating Game...
                </h2>
            </header>
            <main class="modal__content" id="loading-modal-content">

            </main>
            <footer class="modal__footer">
            </footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="error-modal">
    <div class="modal__overlay">
        <div class="modal__container">
            <header class="modal__header">
                <h2 class="modal__title">
                    Error - please try again
                </h2>
            </header>
            <main class="modal__content">
                <p id="create-game-error-text"></p>
            </main>
            <footer class="modal__footer">
                <button aria-label="Close this dialog window" class="modal__btn" data-micromodal-close>Close</button>
            </footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1">
    <div class="modal__overlay" data-micromodal-close>
        <div class="modal__container">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Create Room
                </h2>
            </header>
            <main class="modal__content" id="modal-1-content">
                <table>
                    <tr>
                        <td style="vertical-align: top;">
                            <select id="set-geo-limits" name="set-geo-limits">
                                <option value="unlimited">Don't restrict playing area</option>
                                <option value="list">Select Continent / Country</option>
                                <option value="place-search">Search place</option>
                                <option value="custom">Draw custom areas</option>
                            </select>
                            <input id="search-place-input" name="serch-place-input" style="width:200px; display:none"/>

                            <table id="specific-cities-table" style="display: none; font-size: small">

                            </table>
                            <select id="continent-selector" name="continent-selector" style="display: none;">
                                <option value="AF" name="Africa">Africa</option>
                                <option value="AS" name="Asia">Asia</option>
                                <option value="EU" name="Europe">Europe</option>
                                <option value="NA" name="North America">North America</option>
                                <option value="OC" name="Oceania">Oceania</option>
                                <option value="SA" name="South America">South America</option>
                            </select>
                            <select id="country-selector" name="country-selector" style="display: none;">
                                <option value="all">All Countries</option>
                            </select>
                            <div id="selection-map" style="display: none"></div>
                        </td>
                        <td style="padding-left: 150px">
                            <div>
                                <label for="maxplayer" id="maxplayer-label" style="display:block">Player: 2</label>
                                <input id="maxplayer" max="10" min="1" style="display:block" type="range" value="2">
                            </div>
                            <div>
                                <label for="rounds" id="rounds-label" style="display:block">Rounds: 3</label>
                                <input id="rounds" max="10" min="1" style="display:block" type="range" value="3">
                            </div>
                            <div>
                                <label for="timelimit" id="timelimit-label" style="display:block">Time limit: 3m</label>
                                <input id="timelimit" max="25" min="1" style="display:block" type="range" value="8">
                            </div>
                        </td>
                    </tr>
                </table>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary" id="create-and-play-btn">Create & Play</button>
                <button aria-label="Close this dialog window" class="modal__btn" data-micromodal-close>Close</button>
            </footer>
        </div>
    </div>
</div>

<data id="API_ENDPOINT" value="<%= API_EP %>"></data>
<data id="API_KEY" value="<%= API_KEY %>"></data>
<data id="BUILD_VERSION" value="<%= BUILD_VERSION %>"></data>

<script defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_KEY %>&callback=window.startHome&libraries=drawing,places"></script>
</body>
</html>